<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body style="background: #e0e0e0;">
		<div class="ui inverted menu">
			<a href="/dashboard" class="item">Home</a>
			<a href="#" class="item">Projects</a>
			<div class="right menu">
				<span class="ui item">Welcome back, admin!</span>
				<a href="#" class="ui item" style="background: red; color: white;">Logout</a>
			</div>
		</div>
