<% include partials/header %>

<div class="ui grid" style="margin: auto 5px;">
	<div class="four wide column">
		<div class="ui card" style="width: 100%;">
			<div class="content">
				<div class="ui header">
					Recent Activity
				</div>
			</div>
			<div class="content">
				<div class="ui relaxed divided list">
					<div class="item">
						<i class="file icon"></i>
						<div class="content">
							<a href="#">Brian Tierney</a> created the <a href="#">Project Name</a> project
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="four wide column">
		<div class="ui card" style="width: 100%;">
			<div class="content">
				<div class="ui header">
					Your Groups
				</div>
			</div>
			<div class="content">
				<div class="ui relaxed divided list">
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Admin</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Mobile</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Web</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="four wide column">
		<div class="ui card" style="width: 100%;">
			<div class="content">
				<div class="ui header">
					Current Projects
				</div>
			</div>
			<div class="content">
				<div class="ui relaxed divided list">
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Admin Console</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Project Manager</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="four wide column">
		<div class="ui card" style="width: 100%;">
			<div class="content">
				<div class="ui header">
					Todo
				</div>
			</div>
			<div class="content">
				<div class="ui relaxed divided list">
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Admin</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Mobile</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a href="#">SwanPod Web</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
